<div class="container">
<%# in app/views/books/edit.html.erb %>
<%= form_with model: @book, method: :put do |book_form| %>

  <%= render partial: 'form_template', locals: {book_form: book_form} %>

<% end %>
</div>